.nav-link {
    padding-right: 0;
}

.box-shadow {
    box-shadow: 0px 0px 10px 2px #b3b3b3;
}

.border-grey {
    border-color: darkgray;
    border-radius: 10px;
    border-width: 2px !important;
}
